/* 
    General Styles
*/

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.bg-sw-black {
  background-color: #010b13;
}

.sidebar .link {
  position: relative;
}

.sidebar .link.active {
  color: white;
}

.sidebar .link.active::after {
  content: "";
  width: 100%;
  height: 100%;
  border-left: 3px solid rgb(255, 193, 7);
  position: absolute;
  top: 50%;
  left: -0.75rem;
  transform: translateY(-50%);
}
